@import url('fonts.css');
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1130px;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.nav-left-part {
    display: flex;
    align-items: center;
    gap: 0 50px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', 'sans-serif';
    margin-top: 26px;
}
.nav-menu {
    display: flex;
    font-size: 15px;
}
.nav-menu li a{
    margin-right: 20px;
    color: #33383F;
    letter-spacing: 0.2px;
}
.nav-btns button:first-child {
    border: none;
    background: none;
    color: #0070A0;
    margin-right: 20px;
}
.nav-btns button:nth-child(2) {
    border: none;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 10px 15px;
}
.header-block {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 58px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    font-family: Fraunces;
    line-height: 63.8px;
}
.header-block p {
    width: 350px;
    margin-top: 21px;
    margin-bottom: 29px;
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
}
.header-block_text {
    width: 525px;
    margin-top: 56.28px;
}
.header-block_text button {
    border: none;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 17px;
    font-family: 'Inter', 'sans-serif';
    padding: 15px 35px;
}
.header-block_text a {
    border: none;
    background: none;
    color: #0070A0;
    margin-left: 24px;
    font-family: 'Inter', 'sans-serif';
    font-size: 17px;
}
.header-block_text .arrow {
    vertical-align: middle;
}
.trust-block {
    margin: 120px auto 160px;
}
.trust-block p {
    font-family: 'Inter', 'sans-serif';
    font-size: 24px;
    line-height: 37.5px;
    letter-spacing: 0.2px;
    text-align: center;
}
.trust-block_companies {
    margin-top: 23.58px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
}
.properties-block {
    display: flex;
    column-gap: 32px;
}
.property-block {
    width: 355px;
    padding: 32px 32px 40px 32px;
}
.property-block_head {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}
.property-block_text {
    width: 291px;
    font-family: 'Inter', 'sans-serif';
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}
.property-block:first-child {
    background-color: #FAEA73;
}
.property-block:nth-child(2) {
    background-color: #CCEFF6;
}
.property-block:nth-child(3) {
    background-color: #F7CEDC;
}
.wrapper-block-1 {
    margin-top: 119.61px;
    background-color: #F7F9FA;
}
.wrapper-block-1 h2 {
    padding-top: 79px;
    font-family: 'Fraunces', 'sans-serif';
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    width: 629px;
}
.features-block {
    display: flex;
    margin-top: 61.61px;
    margin-bottom: 40px;
}
.features-accordion {
    margin-right: 139.17px;
}
.accordion_item {
    width: 450px;
    padding: 17px 16px 9px 12px;
    border-top: 1px solid #C2CDD8;
}
.accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion_header_left {
    display: flex;
    align-items: center;
}
.accordion_header h3 {
    margin-left: 16px;
    font-family: 'Fraunces', 'sans-serif';
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.2px;
}
.accordion_body {
    padding-top: 16px;
    width: 374px;
    margin-left: 48px;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.about-block {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.about-block h4 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 41px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.5px;
    margin-right: 135px;
    margin-bottom: 119.61px;
    width: 263px;
}
.about_item {
    width: 222.66px;
    padding: 62.61px 0px 16.39px 0px;
    gap: 0px;
    opacity: 0px;
}
.about_item_head {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}
.about_item p:nth-child(3) {
    font-family: 'Inter', 'sans-serif';
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 13px;
}