@import url('fonts.css');
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1130px;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.nav-left-part {
    display: flex;
    align-items: center;
    gap: 0 50px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', 'sans-serif';
    margin-top: 26px;
}
.nav-menu {
    display: flex;
    font-size: 15px;
}
.nav-menu li a{
    margin-right: 20px;
    color: #33383F;
    letter-spacing: 0.2px;
}
.nav-menu li a:hover {
    color: #6d7988;
}
.nav-btns button:first-child {
    border: none;
    background: none;
    color: #0070A0;
    margin-right: 20px;
}
.nav-btns button:nth-child(2) {
    border: none;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 10px 15px;
}
.header-block {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 58px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    font-family: Fraunces;
    line-height: 63.8px;
}
.header-block p {
    width: 350px;
    margin-top: 21px;
    margin-bottom: 29px;
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
}
.header-block_text {
    width: 525px;
    margin-top: 56.28px;
}
.header-block_text button {
    border: none;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 10px 15px;
    font-size: 17px;
    font-family: 'Inter', 'sans-serif';
    padding: 15px 35px;
}
.header-block_text button:hover, 
.start-block button:hover,
.nav-btns button:nth-child(2):hover {
    box-shadow: 0.5px 0.5px 8px #464545;
    transition: 0.2s;
}
.header-block_text a {
    border: none;
    background: none;
    color: #0070A0;
    margin-left: 24px;
    font-family: 'Inter', 'sans-serif';
    font-size: 17px;
}
.header-block_text a:hover {
    color: #0489c2;
    transition: 0.2s;
}
.header-block_text .arrow {
    vertical-align: middle;
}
.trust-block {
    margin: 120px auto 160px;
}
.trust-block p {
    font-family: 'Inter', 'sans-serif';
    font-size: 24px;
    line-height: 37.5px;
    letter-spacing: 0.2px;
    text-align: center;
}
.trust-block_companies {
    margin-top: 23.58px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
}
.properties-block {
    display: flex;
    column-gap: 32px;
}
.property-block {
    width: 355px;
    padding: 32px 32px 40px 32px;
}
.property-block_head {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}
.property-block_text {
    width: 291px;
    font-family: 'Inter', 'sans-serif';
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 11px;
}
.property-block:first-child {
    background-color: #FAEA73;
}
.property-block:nth-child(2) {
    background-color: #CCEFF6;
}
.property-block:nth-child(3) {
    background-color: #F7CEDC;
}
.wrapper-block-1 {
    margin-top: 119.61px;
    background-color: #F7F9FA;
}
.wrapper-block-1 h2 {
    padding-top: 79px;
    font-family: 'Fraunces', 'sans-serif';
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    width: 629px;
}
.features-block {
    display: flex;
    margin-bottom: 40px;
}
.features-accordion {
    margin-top: 61.61px;
    margin-right: 139.17px;
}
.accordion_item {
    width: 450px;
    padding: 17px 16px 9px 12px;
    border-top: 1px solid #C2CDD8;
}
.accordion_item:last-child {
    border-bottom: 1px solid #C2CDD8;
}
.accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion_header summary {
    list-style-type: none;
}
.accordion_header summary::after {
    content: url('../img/acc-arr.png');
    margin: 0 0 0 auto;
}
.accordion_header_left {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.accordion_header h3 {
    margin-left: 16px;
    font-family: 'Fraunces', 'sans-serif';
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.2px;
}
.accordion_body {
    padding: 16px 0 24.89px 0;
    width: 374px;
    margin-left: 48px;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.about-block {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 119.61px;
}
.about-block h4 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 41px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.5px;
    margin-right: 135px;
    width: 263px;
}
.about_item {
    width: 222.66px;
    padding: 0 0 16.39px 0;
    margin-left: 32px;
}
.about_item_head {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}
.about_item p:nth-child(3) {
    font-family: 'Inter', 'sans-serif';
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 13px;
}
.wrapper-block-2 {
    background-color: #0070A0;
}
.extra-block {
    display: flex;
}
.extra-block {
    padding-top: 80px;
    padding-bottom: 79.64px;
}
.extra-block img {
    margin-right: 187px;
}
.extra-block h5 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 18px;
    width: 403px;
}
.extra-block p {
    font-family: 'Inter', 'sans-serif';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 490px;
    margin-bottom: 16.87px;
}
.extra-block li::before {
    content: url('../img/li-type.png');
    margin-right: 6px;
}
.extra-block li {
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 0.20000000298023224px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.extra-block button {
    border: none;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 10px 35px;
    font-family: 'Inter', 'sans-serif';
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;
}
.extra-block button:hover {
    border: 1px solid #FFFFFF;
}
.quality-block {
    margin-top: 120px;
}
.quality-block h6 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    margin-bottom: 18px;
}
.quality-block_text {
    font-family: 'Inter', 'sans-serif';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    width: 643px;
    margin-bottom: 65.36px;
}
.qualities {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
    margin-bottom: 119.64px;
}
.quality:first-child img {
    margin-bottom: 7px;
}
.quality:nth-child(2) img {
    margin-bottom: 20px;
}
.quality:nth-child(3) img {
    margin-bottom: 18px;
}
.quality:nth-child(4) img {
    margin-bottom: 10px;
}
.quality_head {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-bottom: 11px;
}
.quality_text {
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 235px;
}
.quality:nth-child(2) .quality_text, .quality:nth-child(3) .quality_text {
    width: 250px;
}
.wrapper-block-3 {
    background-color: #F7F9FA;
    margin-bottom: 80px;
}
.characteristics-block {
    padding: 80px 0;
}
.characteristics_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.characteristics_head h6 {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
}
.characteristics_head button {
    border: none;
    background: none;
    padding: 8px 32px;
    font-family: 'Inter', 'sans-serif';
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #0070A0;
}
.characteristics_head button:hover {
    border: 1px solid #0070A0;
}
.characteristics_body {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}
.characteristic span {
    color: #2C90C9;
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
    background-color: #E6F7FF;
    padding: 2px 12px 4px 12px;
}
.characteristic_body {
    padding: 25px 0 27px 24px;
    background-color: #FFFFFF;
}
.characteristic_h {
    font-family: 'Fraunces', 'sans-serif';
    font-size: 25px;
    font-weight: 400;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin-top: 8px;
}
.characteristic_text {
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    margin: 12px 0 16px 0;
    width: 304px;
}
.characteristic_date {
    font-family: 'Inter', 'sans-serif';
    font-size: 12px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
}
.start-block {
    background-color: #E6F7FF;
    padding: 63.98px 0 64px 64px;
    margin-bottom: 128px;
}
.start-block h6 {
    color: #1F1F1F;
    font-family: 'Fraunces', 'sans-serif';
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    margin-bottom: 18px;
}
.start-block p {
    font-family: 'Inter', 'sans-serif';
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    width: 503px;
    margin-bottom: 36px;
}
.start-block button {
    border: none;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 10px 35px;
    font-family: 'Inter', 'sans-serif';
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.2px;
}
.start-block ul {
    margin-top: 12px;
    color: #626A72;
    font-family: 'Inter', 'sans-serif';
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.2px;
    display: flex;
    column-gap: 32px;
}
.start-block ul li::before {
    content: url('../img/li-type.svg');
    margin-right: 3px;
}
.footer-up-block {
    display: flex;
    column-gap: 16px;
    font-family: 'Inter', 'sans-serif';
    letter-spacing: 0.2px;
    margin-bottom: 64.02px;
}
.footer-company-block {
    font-size: 14px;
    width: 432.8px;
}
.footer-company-block img {
    margin-bottom: 20px;
}
.footer-company-block a {
    color: #0070A0;
}
.footer-menu {
    display: flex;
    font-size: 13px;
    line-height: 20px;
    color: #626A72;
}
.footer-menu_left, .footer-menu_right {
    width: 216.39px; 
}
.footer-menu li {
    margin-bottom: 10px;
}
.footer-menu .head {
    font-size: 15px;
    color: #1F1F1F;
    margin-bottom: 31px;
}
.footer-link {
    width: 216.39px;
}
.footer-link p:first-child {
    margin-bottom: 12px;
}
.footer-link p:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    width: 200px;
    margin-bottom: 16px;
}
.footer-link input {
    border: none;
    border-bottom: 1px solid #C2CDD8;
    padding: 17px 15px 7px 15px;
}
.footer-link button {
    border: none;
    background: none;
}
hr {
    color: #DEE5EB;
    margin-bottom: 35.98px;
}
.footer-down-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32.02px;
}
.footer-down-block p {
    font-family: 'Inter', 'sans-serif';
    font-size: 13px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
}
.footer-down-block a {
    color: #0070A0;
}
.footer-icons-soc {
    display: flex;
    column-gap: 20px;
}